/app/config/parameters.yml
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/data
/var/data/*
!var/data/db_test
/var/data/db_test
!var/data/db_test/.gitkeep
!var/data/local_uploads
/var/data/local_uploads
!var/data/local_uploads/.gitkeep
!var/SymfonyRequirements.php
/vendor/
